* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 805px;
  width: 100%;
  background-color: #eff0f2;
}

.container {
  width: 1140px;
}

.banner__logo {
  background: url(../img/SHOPNO.png) no-repeat center;
  height: 19px;
  width: 9%;
  margin-top: 64px;
  padding: 8px 0;
  border: 6px solid black;
  cursor: pointer;
}

.banner__logo:hover {
  border: 6px solid #b2f2ee;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.title {
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  opacity: .7;
  text-shadow: 8px 9px 8px rgba(0, 0, 0, 0.24);
}

.banner__title {
  margin-top: 193px;
  margin-left: 7px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 59px;
}

.colored-title {
  background-color: #b2f2ee;
  width: 200px;
}

.banner__button {
  margin-top: 137px;
  text-align: center;
}

.banner__button button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border: 2px solid #777879;
  font-size: 1.8rem;
  text-transform: uppercase;
  height: 52px;
  width: 233px;
  background: transparent;
  letter-spacing: 2px;
  cursor: pointer;
}

.banner__button button:hover {
  border: 3px solid black;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.banner__pictures {
  position: relative;
}

.banner-pic {
  position: absolute;
  right: 85px;
  top: -24px;
  height: 92px;
  width: 92px;
}

.about {
  height: 985px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f8fafa));
  background: linear-gradient(180deg, white 0%, #f8fafa 100%);
}

.about__title__wrapper {
  margin-top: 120px;
  text-align: center;
  line-height: 42px;
}

.about__title {
  text-align: center;
  font-size: 3.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 19px;
  letter-spacing: 2px;
}

.about__subtitle {
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #8d8e8e;
  letter-spacing: 2px;
}

.about__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 87px;
}

.about__blocks__img {
  background: url(../img/Image1.png) no-repeat center;
  height: 553px;
  width: 50%;
  background-position: left 55px bottom 1px;
}

.about__blocks__text {
  width: 41%;
  padding-top: 44px;
  padding-left: 58px;
  line-height: 27px;
  text-align: justify;
}

.text__title {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  color: #3e3f3f;
  letter-spacing: 1px;
  word-spacing: 2px;
  padding-bottom: 19px;
}

.text__subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  color: #404141;
  letter-spacing: 0.5px;
}

.second {
  padding-top: 23px;
  font-size: 1.7rem;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works__title__wrapper {
  margin-top: 120px;
  text-align: center;
  line-height: 42px;
}

.works__title {
  text-align: center;
  font-size: 3.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 19px;
  letter-spacing: 2px;
  margin-left: 42px;
  letter-spacing: 2px;
}

.works__subtitle {
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #8d8e8e;
  letter-spacing: 2px;
  letter-spacing: 1px;
}

.works__items {
  margin-top: 104px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__items img {
  padding-bottom: 13px;
}
/*# sourceMappingURL=main.css.map */